*{
	padding: 0 auto;
	margin: 0 auto;
	font-family: 'UbuntuRegular';
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url(fonts/Ubuntu-Regular.ttf);
}
@media (max-width:569px) {
    img{
        width: 45%
    };
}
span{
    margin-right: 0;
    color: black;
}
.container{
    width: 70%;
}
h1{
    margin: 25px 0px ;
    color: black;
}
label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
    color: blue;
    width: 100%;
    height: 70px;
}
input{
    display: none;
}
.image_container1{
    display: block;
    width: 500px;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
	transform: translateY(0%);
	transition: .6s all;
}
.image_container2{
    display: block;
    width: 500px;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
	transform: translateY(0%);
	transition: .6s all;
}
.image_container3{
    display: block;
    width: 500px;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    margin-bottom: 5px;
	transform: translateY(0%);
	transition: .6s all;
}
.image_container4{
    display: block;
    width: 500px;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
	transform: translateY(0%);
	transition: .6s all;
}
.container:hover label{
    color: black;
}
label:hover span{
    transform: rotateZ(90deg);
    transition: .6s;
}
#radio1:checked  ~ .image_container1{
    max-height: 500px;
}
#radio2:checked  ~ .image_container2{
    max-height: 500px;
}
#radio3:checked  ~ .image_container3{
    max-height: 550px;
}
#radio4:checked  ~ .image_container4{
    max-height: 540px;
}
#label1:hover ~ .image_container1{
    max-height: 500px ;
}
#label2:hover ~ .image_container2{
    max-height: 500px ;
}
#label3:hover ~ .image_container3{
    max-height: 500px ;
}
#label4:hover ~ .image_container4{
    max-height: 500px ;
}
label:hover span{
    transform: rotateZ(90deg);
    transition: .6s;
}
#radio1:checked ~ * #arrow1{
    transform: rotateZ(90deg);
}
#radio2:checked ~ * #arrow2{
    transform: rotateZ(90deg);
}
#radio3:checked ~ * #arrow3{
    transform: rotateZ(90deg);
}
#radio4:checked ~ * #arrow4{
    transform: rotateZ(90deg);
}